


body {
  background-color: rgb(152, 154, 250);
}

 body {
   color:#000000
   
 }
 img{ 
  width: 1350px ;
  height: 150px;
 }

 img{
  width: 1300px;
  height: 590px;
 }

 ul{
    display:flex;
    justify-content:space-between ;
    align-items: center;
    padding: 10px;
    
}




body{
  font-size: 13px;
  font-family: poppins;
}




header img{
  width: 1300px ;
  height: 180px;

  }

 a{
    font-size: 24px;
  }

  div{
    text-align: center;
    width:300px;
    height: 100px;
    padding-left: 500px;
    
  }
 